
  <div class="page contact-page container" style="padding: 20px 0;">
    <ul class="tabs col-md-4" >
      <li class="active"   (click)="func(nam)" #nam rel="tab1">OUR OFFICES</li>
      <li #nam2 rel="tab2" (click)="func(nam2)" id="tabs"  >Algeria</li>
      <li #nam3 rel="tab3"  (click)="func(nam3)" >Bahrain</li>
      <li #nam4 rel="tab5"  (click)="func(nam4)">Ethiopia</li>
      <li #nam5 rel="tab6"  (click)="func(nam5)">Jordan</li>
      <li #nam6 rel="tab7"  (click)="func(nam6)">Kuwait</li>
      <li #nam7 rel="tab8"  (click)="func(nam7)">Lebanon</li>
      <li #nam8 rel="tab9"  (click)="func(nam8)">Morocco</li>
      <li #nam9 rel="tab10" (click)="func(nam9)">Oman</li>
      <li #nam10 rel="tab4" (click)="func(nam10)">Egypt</li>
      <li #nam11 rel="tab11"(click)="func(nam11)">Saudi Arabia</li>
      <li #nam12 rel="tab12"(click)="func(nam12)">Sudan</li>
      <li #nam13 rel="tab13"(click)="func(nam13)">UAE</li>
    </ul>

  <div class="tab_container col-md-8" >
    <h3 class="d_active tab_drawer_heading"  rel="tab1">OUR OFFICES</h3>
    <div id="tab1"@fade class="tab_content" >
      <img src="../../assets/images/map.png" style=" text-align: center;width: 100%;height: 100%;">
    </div>
     <!-- #tab1 -->
    <h3 class="tab_drawer_heading" rel="tab2" >Algeria </h3>
    <div id="tab2"  @fade class="tab_content">
      <ul>
        <li>Algiers Office</li>
        <li class="address">159 Bois Des Cars 2 Dely Brahim, Alger</li>
        <li class="phone">Tel: +213 23 30 86 35</li>
      </ul>
      <ul>
        <li>Blida Site</li>
        <li class="address">Rue Benboulaid lotissement 53 N 47 Wilaya de Blida</li>
        <li class="phone">Tel: +213 25 20 83 99</li>
      </ul>
      <img src="../../assets/images/Algeria.png" style="text-align: center;">
    </div>
    <!-- #tab2 -->
      <h3 class="tab_drawer_heading"  rel="tab3">Bahrain</h3>
      <div id="tab3" class="tab_content">
        <ul>
          <li>Hamad Town Pharmacy</li>
          <li class="address">Hamad Town Pharmacy P.O. Box 40168 Manama</li>
          <li class="phone">Tel: +973 1 755 3775</li>
        </ul>
        <img src="../../assets/images/Bahrain.png" style="text-align: center;">
      </div>

       <!-- #tab3 -->
       <h3 class="tab_drawer_heading" rel="tab4">Egypt</h3>
       <div id="tab4" class="tab_content">
         <ul>
           <li>Tabuk Pharmaceuticals Egypt</li>
           <li class="address">Villa number 8, Square number 1169, ministers square Sheraton Heliopolis, Cairo</li>
           <li class="phone">Tel: +20 22 269 0509 / +20 22 269 0510</li>
         </ul>
         <img src="../../assets/images/egypt.png" style="text-align: center;">
       </div>
       <!-- #tab4 -->
       <h3 class="tab_drawer_heading" rel="tab5">Ethiopia</h3>
       <div id="tab5" class="tab_content">
         <ul>
           <li>Ethiopia</li>
           <li class="address">Grace Plaza 4th floor, office number 404</li>
           <li class="phone">Tel: +251 91 113 4789</li>
         </ul>
         <img src="../../assets/images/Ethiopia.png" style="text-align: center;">
       </div>

       <h3 class="tab_drawer_heading" rel="tab6">Jordan</h3>
       <div id="tab6" class="tab_content">
         <ul>
           <li>Regional Office</li>
           <li class="address">Mecca Street, Building No. 25</li>
           <li class="phone">Tel: +962 6 553 4441 / +962 6 553 4442</li>
         </ul>
         <ul>
           <li>Research & Development Department Tabuk Pharmaceutical Research Co.</li>
           <li class="address">7th Circle, Izz Bin Abdulsalam Street Zahran Plaza Building, B1 Floor P.O. Box:
             142904 n Amman 11844 Jordan</li>
           <li class="phone">Tel: +962 6 582 2188</li>
         </ul>
         <ul>
           <li>Sales Office</li>
           <li class="address">Said Abu Jaber Street- Building No. 10 Um Uthayna, Behind Crowne Plaza Hotel P.O Box 1027
             Amman 11118</li>
           <li class="phone">Tel: +962 6 565 0300</li>
         </ul>
         <img src="../../assets/images/jordan.png" style="text-align: center;">
       </div>

       <h3 class="tab_drawer_heading" rel="tab7">Kuwait</h3>
       <div id="tab7" class="tab_content">
         <ul>
           <li>Al Moujil Drug Company</li>
           <li class="address">Al Moujil Drug Company Al Sanabil Tower (Al Babatin), 24th Floor Abdullah Al Ahmed Street
             Al Sharq Area, Block 2, Kuwait P.O. Box: 2761</li>
           <li class="phone">Tel: +965 2 292 3502 / +965 2 292 3510</li>
         </ul>
         <img src="../../assets/images/Kuwait.png" style="text-align: center;">
       </div>
       <h3 class="tab_drawer_heading" rel="tab8">Lebanon</h3>
       <div id="tab8" class="tab_content">
         <ul>
           <li>Lebanon Office</li>
           <li class="address">Marc I Building, 4th floorHabtour Roundabout, Sin El Fil, Beirut P.O.Box:11-9073 Riad
             El Solh 1107 2280</li>
           <li class="phone">Tel: +961 1 490 061 / +961 1 490 062</li>
         </ul>
         <img src="../../assets/images/Lebanon.png" style="text-align: center;">
       </div>
       <h3 class="tab_drawer_heading" rel="tab9">Morocco</h3>
       <div id="tab9" class="tab_content">
         <ul>
           <li>Morocco</li>
           <li class="address">197, Angle Bd. Ezzerktouni Résidence Mouna, 6 ème étage, App 6 20100, Casablanca</li>
           <li class="phone">Tel: +212 625 942 201 / +212 522 363 995</li>
         </ul>
         <img src="../../assets/images/Morocco.png" style="text-align: center;">
       </div>

       <h3 class="tab_drawer_heading" rel="tab10">Oman</h3>
       <div id="tab10" class="tab_content">
         <ul>
           <li>Al Hashar Pharmacy</li>
           <li class="address">Al Hashar Pharmacy P.O.Box 181 P.C. 111, Muscat</li>
           <li class="phone">Tel: +968 2 460 2737 / +968 2 460 2890</li>
         </ul>
         <img src="../../assets/images/oman.png" style="text-align: center;">
       </div>

       <h3 class="tab_drawer_heading" rel="tab11">Saudi Arabia</h3>
       <div id="tab11" class="tab_content">
         <ul>
           <li>Riyadh Office</li>
           <li class="address">Astra Industrial Group Building No:2 – First Floor King Abdulaziz Street, Riyadh
             P.O.Box: 28170 Riyadh 11437</li>
           <li class="phone">Tel: +966 11 477 4964</li>
         </ul>
         <ul>
           <li>Jeddah Office</li>
           <li class="address">Business Park Center, Buildings D13-D14 Palestine street, Al Hamra District, Jeddah
            P.O. Box: 18791, Jeddah 21425</li>
           <li class="phone">Tel: +966 12 6525643 / +966 12 652 5644</li>
         </ul>
         <ul>
           <li>Dammam Office</li>
           <li class="address">Al Mahmal Commercial Building, 1st Floor, Office # 120, King Fahd Street, Al Shatea
             District, Dammam P.O. Box 9531 – 31423</li>
           <li class="phone">Tel: +966 13 812 8810 Ext. 1322</li>
         </ul>
         <ul>
           <li>Tabuk Site</li>
           <li class="address">Al-Madina Highway Road P.O. Box: 3844 Tabuk 9222 – 47532</li>
           <li class="phone">Tel: +00966 14 428 3030</li>
         </ul>
         <ul>
           <li>Dammam Site</li>
           <li class="address">Mecca Street intersection 16 by 91 Building No. 2815, Unit No. 1Second Industrial City -
             Dammam</li>
           <li class="phone">Tel: +966 13 812 8810 Ext. 1244</li>
         </ul>
         <img src="../../assets/images/ksa.png" style="text-align: center;">
       </div>
       <h3 class="tab_drawer_heading" rel="tab12">Sudan</h3>
       <div id="tab12" class="tab_content">
         <ul>
           <li>Tabuk Pharmaceuticals Co. Ltd</li>
           <li class="address">Khartoum, Sudan Industrial Area, Khartoum North 24-25-31\18 Block No. 5 P.O. Box
             13537</li>
           <li class="phone">+249 185 335 244 / +249185 335774- Ext (0 / 110)</li>
         </ul>
         <img src="../../assets/images/Sudan.png" style="text-align: center;">
       </div>
       <h3 class="tab_drawer_heading" rel="tab13">UAE</h3>
       <div id="tab13" class="tab_content">
         <ul>
           <li>UAE Office</li>
           <li class="address">Building No. 26, Office No. 603 & 605 Dubai Healthcare City, Dubai P.O. Box- 505218
           </li>
           <li class="phone">Tel: +971 4 4243031</li>
         </ul>
         <img src="../../assets/images/UAE.png" style="text-align: center;">
       </div>



     </div>
     <!-- .tab_container -->

</div>

    <link href="https://fonts.googleapis.com/css?family=Fjalla+One&amp;subset=latin-ext&amp;display=swap" rel=stylesheet>
    <link href="https://fonts.googleapis.com/css?family=Lato&amp;subset=latin-ext&amp;display=swap" rel=stylesheet>



    <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.5/jquery.min.js'></script>
    <script src="../../assets/jquery-1.10.2.js" type="text/javascript"></script>
    <script src="../../assets/jquery-1.10.2.min.js" type="text/javascript"></script>
    <script src="../../assets/tab.js" type="text/javascript"></script>
